body {
    margin: 0;
    background-image: url('GOOGLE.jpg'); background-repeat: no-repeat; background-size: cover ;
    font-family: Arial, sans-serif;
}

.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.slide {
    display: none;
}

img {
    width: 100%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
div#tribute-data {
    background-color:white;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}
